<a href="https://colab.research.google.com/github/AnnaDays/notebooks-DataScience/blob/main/exercicios_funcoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
def info_lista(lista):
  tamanho = len(lista)
  soma = sum(lista)
  maximo = max(lista)
  minimo = min(lista)
  return tamanho, soma, maximo, minimo

tamanho, soma, maximo, minimo = info_lista(lista)
print(f"A lista possui {tamanho} números em que o maior número é {maximo} e o menor número é {minimo}. A soma dos valores presentes nela é igual a {soma}")

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

In [ ]:
numero = int(input("Digite um número: "))

def tabuada(numero):
  print(f"------- TABUADA DO {numero}: -------")
  for i in range(1, 11):
    resultado = numero * i
    print(f"{numero} X {i} = {resultado}")
  return resultado, i

resultado, i = tabuada(numero)

Digite um número: 3
------- TABUADA DO 3: -------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [ ]:
lista_antiga = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

def multiplos_tres(lista):
  lista_multiplos = []
  for elemento in lista:
    if elemento % 3 == 0:
      lista_multiplos.append(elemento)
  return lista_multiplos

lista_multiplos = multiplos_tres(lista_antiga)
print(f"Os elementos multiplos de 3 são: {lista_multiplos}")

Os elementos multiplos de 3 são: [24, 99]

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
quadrado = map(lambda x: x ** 2, lista)
quadrado = list(quadrado)
print(f"O quadrado de cada elemento da lista é: {quadrado}")

O quadrado de cada elemento da lista é: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
def nota_aluno():
  lista_notas = []
  for i in range(1, 5):
    notas = float(input(f"Digite a {i}º nota: "))
    lista_notas.append(notas)
    maior = max(lista_notas)
    menor = min(lista_notas)
    media = sum(lista_notas) / len(lista_notas)

    if media >= 6.0:
      situacao = "Aprovado(a)!"
    else:
      situacao = "Reprovado(a)!"

  return maior, menor, media, situacao

maior, menor, media, situacao = nota_aluno()
print(f"O(a) estudante obteve uma média de {media}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}")

Digite a 1º nota: 10
Digite a 2º nota: 8
Digite a 3º nota: 5
Digite a 4º nota: 7
O(a) estudante obteve uma média de 7.5, com a sua maior nota de 10.0 pontos e a menor nota de 5.0 pontos e foi Aprovado(a)!

In [ ]:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

frase_nome =  map(lambda nome, sobrenome: f"Nome completo: {nome.title()}, {sobrenome.title()}", nomes, sobrenomes)
frase_nome = list(frase_nome)
print(frase_nome)

['Nome completo: João, Silva', 'Nome completo: Maria, Souza', 'Nome completo: José, Tavares']

In [ ]:
def notas_skate():
    lista = []
    for i in range(1, 6):
        notas = float(input(f"Digite a {i}º nota: "))
        lista.append(notas)

    lista.remove(max(lista))
    lista.remove(min(lista))
    media = sum(lista) / len(lista)

    return media

media = notas_skate()
print(f"Nota da manobra: {media}")

Digite a 1º nota: 10
Digite a 2º nota: 8
Digite a 3º nota: 5
Digite a 4º nota: 2
Digite a 5º nota: 1
Nota da manobra: 5.0

In [2]:
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

def calcula_pontos(gols_marcados, gols_sofridos):
  pontuacao = 0
  for i in range(len(gols_marcados)):
    if gols_marcados[i] > gols_sofridos[i]:
      pontuacao += 3
    elif gols_marcados[i] == gols_sofridos[i]:
      pontuacao += 1
    else:
      pontuacao += 0

  aproveitamento = 100 * pontuacao / (len(gols_marcados) * 3)

  return pontuacao, aproveitamento

pontuacao, aproveitamento = calcula_pontos(gols_marcados, gols_sofridos)
print(f"A pontuação do time foi de {pontuacao} e seu aproveitamento foi de {round(aproveitamento, 1)}%")

A pontuação do time foi de 7 e seu aproveitamento foi de 46.7%

In [3]:
dias = int(input("Quantas diárias? "))
cidade = input("Qual a cidade? [Salvador, Fortaleza, Natal ou Aracaju]: ")
distancias = [850, 800, 300, 550]
passeio = [200, 400, 250, 300]
km_l = 14
gasolina = 5

def gasto_hotel(dias):
    return 150 * dias

def gasto_gasolina(cidade):
    if cidade == "Salvador":
        return (2 * distancias[0] * gasolina) / km_l
    elif cidade == "Fortaleza":
        return (2 * distancias[1] * gasolina) / km_l
    elif cidade == "Natal":
        return (2 * distancias[2] * gasolina) / km_l
    elif cidade == "Aracaju":
        return (2 * distancias[3] * gasolina) / km_l

def gasto_passeio(cidade, dias):
    if cidade=="Salvador":
        return passeio[0] * dias
    elif cidade=="Fortaleza":
        return passeio[1] * dias
    elif cidade=="Natal":
        return passeio[2] * dias
    elif cidade=="Aracaju":
        return passeio[3] * dias

gastos = gasto_hotel(dias) + gasto_gasolina(cidade) + gasto_passeio(cidade, dias)
print(f"Com base nos gastos definidos, uma viagem de {dias} dias para {cidade} saindo de Recife custaria {round(gastos, 2)} reais")

Quantas diárias? 2
Qual a cidade? [Salvador, Fortaleza, Natal ou Aracaju]: Aracaju
Com base nos gastos definidos, uma viagem de 2 dias para Aracaju saindo de Recife custaria 1292.86 reais